@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 40 44% 94%;
    --foreground: 28 13% 15%;
    --card: 40 44% 94%;
    --card-foreground: 28 13% 15%;
    --popover: 40 44% 94%;
    --popover-foreground: 28 13% 15%;
    --primary: 45 69% 52%;
    --primary-foreground: 28 13% 10%;
    --secondary: 28 13% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 28 13% 25%;
    --muted-foreground: 0 0% 70%;
    --accent: 28 13% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 69% 42%;
    --input: 28 13% 25%;
    --ring: 45 69% 52%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 28 13% 15%;
    --foreground: 0 0% 98%;
    --card: 28 13% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 28 13% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 69% 52%;
    --primary-foreground: 28 13% 10%;
    --secondary: 30 4% 52%;
    --secondary-foreground: 0 0% 98%;
    --muted: 40 44% 94%;
    --muted-foreground: 28 13% 15%;
    --accent: 30 4% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 69% 42%;
    --input: 28 13% 25%;
    --ring: 45 69% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
